* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(122, 122, 122, 0.856);
}

body > header {
    background-color: rgb(168, 73, 73);
    padding: 35px 0;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
}

body header li a {
    color: #fff;
    background-color:  rgb(168, 73, 73);
    padding: 6px;
    text-decoration: none;
    
}

body header li a:hover {
    text-decoration:underline ;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    justify-content: space-between;
}

.articles article img {
    height: 180px;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    
}

.articles article a {
    background-color: rgb(168, 73, 73);
    color:#fff;
    padding: 3px;
    display: inline-block;
    text-decoration: none;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

section h2 {
    font-size: 36px;
    font-weight: 900;
}
.articles article h3 {
    font-size: 24px;
}

#sports {
    background-color: #5a2020;
}

#sports .articles article a{
    background-color: #aa4242;
}

#economy{
    background-color: rgb(17, 73, 17);
}

#economy .articles article a{
    background-color: rgb(100, 180, 24);
}

#tecnology {
    background-color: #1c3d69;
}

#tecnology .articles article a {
    background-color: #4279c2;
}

#entretenimento {
    background-color: rgb(126, 102, 41);
}

#entretenimento .articles article a {
    background-color: rgb(241, 161, 11);
}